
body{
  opacity: 0;
  filter: blur(100px);
  transition: 1s;
}

.tla3{
  /* opacity: 0; */
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 15;
  transition: 1s ease-in-out;
  filter: blur(100px);
}
.tla3 a span{
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 70px;
}
.categoris{
    width: 15%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    overflow: scroll;

  

}
.produits{
  width: 85%;
  height: 100%;
  display: flex;
  background-color: #e7e7e7;
  flex-flow: row wrap; 
  margin-left: auto;
  justify-content: space-around; 
}
.iii{
  width: 100%;
  display: flex;
  flex-flow: row;
  overflow-x: none;
}
/*.card {
  width: 200px;
  height: min-content;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.03);
}

.img {
  transition: all .3s;
  background: #ff0084;
  background: -webkit-linear-gradient(to right, #33001b, #ff0084);
  background: linear-gradient(to right, #33001b, #ff0084);
  width: 100%;
}

.img:hover {
  transform: scale(1.3);
}

.img-container {
  display: grid;
  border-radius: .5rem 2rem;
  height: 270px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: start;
  padding: .5rem 1em;
  width: 90%;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.description:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}*/

.card {
  width: 230px;
  height: 390px;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  margin-bottom: 30px;
  background-image: linear-gradient(43deg, rgb(255, 255, 255) 0%, rgb(197, 197, 197) 46%, rgb(255, 219, 152) 100%);

  transition: 0.3s;
}
.card:hover{
  transform: scale(1.01);
  cursor: pointer;
  
}

.imgbg{
  margin: 10%;
  border-radius: .5rem 2rem;
  width: 90%;

  margin: 5%;
  border-radius: .5rem 2rem;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 2s;
  opacity: 0;
  /* filter: blur(100px); */
}

.imgbg:hover{
  transform: scale(1.1);
  cursor: pointer;

}
.desc{
  display: flex;
  flex-flow: column;
  
}
.promix{
  /* margin-right: 20%; */
  color: rgb(255, 47, 0);
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  
  text-align: start;
  display: flex;
  
}
.buttonach{
  background-image: linear-gradient(43deg, rgb(255, 17, 0) 0%, rgb(255, 95, 15) 46%, rgb(255, 204, 112) 100%);
  width: 100%;
  border-radius: .5rem 2rem ;
  border: none;
  text-align: center;
  padding-left: 20px;
  
  transition: 1s;

}
.buttonach:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-image: linear-gradient(43deg, rgb(64, 255, 0) 0%, rgb(24, 249, 43) 46%, rgb(129, 251, 158) 100%);
  
}

.achicon{
  
  padding-top: 5px;
  
}
/*.material-symbols-outlined{
  margin-left: 80%;
}
.material-symbols-outlined:hover{
  color: rgb(255, 0, 0);
}*/


.paginationnn nav{
  display: flex;
  justify-content: end;
}
.heart-container {
  --heart-color: rgb(255, 44, 104);
  position: relative;
  width: 70px;
  height: 30px;
  transition: .3s;  
  margin-left: 30px;
  
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.bbb{
  display: flex;
  width: 300px;
}

.barre-categories {
  height: 700px;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: 5px;
  background-color: #ffffff;
  justify-content: space-around; /* Ajuste l'espace entre les catégories */
  padding: 10px 0; /* Ajoute un espace autour des catégories */
  
  
}

.barre-categories a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
}

.barre-categories a:hover {
  background-color: #d2d2d2;
  color: #000;
  border-radius: 20px;
}

.descriptiontitre{
  
  font-size: 15px;
  font-weight: 700;
  text-align: justify;}
.mdrob{
  color: #3f3f3f;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 800;
  transform: rotate(-10deg);

}
.prin{
  position: absolute;
  background-image: url(vv1.jpeg);
  font-size: 25px;
  color: transparent;
  background-clip: text;
  background-position: center;
  font-weight: 900;
  width: 100%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone{
  text-align: center;
  border-radius: 20px;
  /* border-bottom: 5px solid #E4032E; */
  background-image: url(phones.jpeg);
  background-position: center;
  background-clip: text;
  font-weight: 900;
  font-size: 30px;
  color: transparent;
  /* margin-left: 25%; */
  width: 100%;
  /* height: 30px; */
}
.cat{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
    
}
.cat div{
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;


}
.cat a{
  transition: 0.5s;

}
.cat a:hover{
  border-radius: 10px;
  background-color: #e7e7e7d1;
  text-decoration: underline;
  /* border-bottom: 2px solid; */

}
.ecrants{
  background-image: url(vv1.jpeg);
  background-position-x: 200px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 0px;

  color: transparent;
  
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  margin-left: 50px;
  transition: 2.5s;
}
#recepteur , #cables , #paraboles{
  background-image: url(vv2.jpeg);
  background-position-x: -59px;
  background-position-Y: -136px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 430px;
  color: transparent;

  width: 100%;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  margin-left: 50px;
  transition: 2.5s;
}
#accessoires{
  background-image: url(vv2.jpeg);
  background-position-x: -59px;
  background-position-Y: -136px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 560px;
  color: transparent;

  width: 100%;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  margin-left: 50px;
  transition: 2.5s;
}

.barre-categories-ss a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
}

.barre-categories-ss a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
}
.prinss{
  position: absolute;
  background-image: url(tech.jpeg);
  font-size: 30px;
  color: transparent;
  background-position: center;
  background-clip: text;
  font-weight: 700;
  width: 100%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-lfo9{
  display: none;
}
.barre-categories-ss {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 5px;
  background-color: #ffffff;
  justify-content: space-around; /* Ajuste l'espace entre les catégories */
  padding: 10px 0; /* Ajoute un espace autour des catégories */
  
  
}
@media(max-width: 700px ){
  
.categoris{
   display: none;

}
.nav-lfo9{
  display: block;
}
.produits{
  width: 100%;
  height: 100%;
  margin-top: 72px;
  
  display: flex;
  background-color: #e7e7e7;
 
  flex-flow: row wrap;
  
  
  
  justify-content: space-around;

  
  
}

.card {
  width: 160px;
  height: 330px;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  margin-bottom: 30px;
 

  transition: 0.3s;
}
.card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.imgbg{
    width: 90%;
    margin: 5%;
    border-radius: .5rem 2rem;
    transition: .3s ease;
    background-image: url(Capture\ d’écran\ 2023-11-15\ à\ 17.32.10.png);
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.cat{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  
}
.cat p{
line-height: 40px;
font-size: 20px;
text-align: center;

}
.cat a:hover{
border-radius: 10px;
background-color: #e7e7e7d1;
text-decoration: none;
}
.heart-container {
  --heart-color: rgb(255, 44, 104);
  
  width: 20px;
  height: 30px;
  transition: .3s;  
  position: absolute;
  margin-left: 130px;
  
  
}

 
}
.button {
  width: 100%;
  border-radius: .5rem 2rem ;
  border: none;
  text-align: center;
  padding-left: 20px;
  background-color: #3FA440;
  border: none;
  height: 45px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  color: aliceblue;

  transition: all 0.5s ;
  filter: blur(100px);
}



.AAAA::after {
  content: "";
  height: 100%;
  width: 209px;
  background-color: #E4032E;
  background-image:url('buttonach.jpg') ;
  background-repeat:no-repeat ;
  background-size: 60%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50px);
  transition: all 0.5s ;
  
}



.AAAA:hover::after {
  transform: translateY(0) scale(1.2);
}


@media(max-width: 1250px ){
  .prin{
    font-size: 20px;
  }
  .tla3{
    /* opacity: 0; */
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 15;
    transition: 1s ease-in-out;
    filter: blur(100px);
  }
  
  .tla3 a span{
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 40px;
  }
}
@media(max-width: 1100px ){
  .prin{
    font-size: 17px;
  }

}
@media(max-width: 800px ){
  .prin{
    font-size: 16px;
  }

}
